@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
@use '../../scss/breakpoint' as *;

.container{
    @include container;
    margin-top: $mg-l-1;

    .content{
        @include content;
        display: flex;
    }
}

.left{
    position: relative;
    width: 50%;
    white-space: nowrap;

    @include nm-screen{
       width: 100%;
    }
}

.right{
    width: 50%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    
    @include nm-screen{
        display: none;
    }

    .imgContainer{
        width: 20%;

        .heroImg{
            display: inline-block;
            width: 100%;
            object-fit: cover;
            position: sticky;
            top: $mg-l-2;
            right: 0;
        }
    }

}