@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/breakpoint" as *;

.wrapper{
    @include container;
    margin-top: $mg-l-10;

    @include nm-screen{
        margin-top: $mg-l-8;
    }
    .imgContainer1{
        @include bioContainer;
        @include bioContainerShort;
        right: 20%;
        top: 60%;

        img{
            @include imageFull;
        }

        .bg{
           @include bg;
        }
    }
    .imgContainer2{
        @include bioContainer;
        @include bioContainerLarge;
        left: 5%;
        top: -30%;

        img{
            @include imageFull;
        }

        .bg{
           @include bg;
        }
    }
}