@use './scss/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@200&family=Playfair+Display:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-size: $txt-rsp-4;
  text-transform: uppercase;
  font-weight: 400;
  color: $txt-main;
  overflow-x: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $txt-main;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 0.5rem;
  
}

::-webkit-scrollbar{
  width: 0.5rem;
}